{%- capture flickity_options -%}
{
  "prevNextButtons": false,
  "pageDots": true,
  "autoPlay": false,
  "contain": true,
  "cellAlign": "center",
  "groupCells": true,
  "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
}
{%- endcapture -%}

<style>
.carousel-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 50px;
    margin: 8px;
/*     background: radial-gradient(#7f7fb3, transparent); */
    border: 1.5px solid white;
    border-radius: 50px;
    counter-increment: carousel-cell;
}

  .flickity-viewport {
    height: 100px !important;
}

  .flickity-slider {
    display: flex;
    align-items: center;
}
  
/*   .section-faq {
    background: #7f7fb3;
} */
  
  .standard__kicker:not(.standard__kicker--set) {
    font-size: 2em;
}

  .margin--medium {
    padding-top: 64px !important;
}


  @media screen and (max-width: 1024px) {
    .anchor--accordion {
      display: block;
    }

    a.js-anchor-link {
    width: 75%;
    }

    .accordion--anchor {
    margin-bottom: 10px;
    }
}

  
/* div#shopify-section-template--14948125835298__16582570754879615e {
    background: #7f7fb3;
} */

  @media only screen and (max-width: 600px) {
  .carousel-cell {
    width: 40%;
  }
}
  
</style>  


<!--Navigation Ancor goes here-->
  <div class="wrapper--narrow carousel anchor" data-flickity='{{ flickity_options }}'>
    	{% for block in section.blocks %}
          <div class="carousel-cell" style="background-color:{{ block.settings.background-color }};">
        	<a href="#{{block.settings.title}}">{{block.settings.title}}</a>
          </div>
      {% endfor %}
  </div>

<!--End Of The Navigation Anchor-->

<script>
  
</script>

{% schema %}
{
  "name": "Accordion Anchor",
  "settings": [],
  "blocks": [
    {
      "type": "text",
      "name": "Text block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Title"
        },
        {
          "type": "color",
          "id": "background-color",
          "label": "Background Color"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Accordion Anchor",
      "category": "Text",
      "blocks": [
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}