<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/TzNqtj8HFeY3vMd22-Rzpg" async></script>
<style>
  .background-works{
    background-color: #d56485;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .background-ways{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:65px;
  }
  .background-points{
    background-image: url('https://cdn.shopify.com/s/files/1/0573/0061/5202/files/Asset_1_2x-8_1.png?v=1662302849');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom:50px;
    padding-top:65px;
  }
  .gradiant-bg{
/*     background-image: url('https://cdn.shopify.com/s/files/1/0573/0061/5202/files/Desktop_da282f7f-e586-46cc-8549-96e8a10e30a4.png?v=1660206244');
    border-radius:50%;
    background-repeat: no-repeat;
    background-size: 250px 250px;
    background-position: center; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height:60px;
    margin-bottom:60px;
    margin-top:-75px;
    color:white;
  }
  .arrow-img{
    width:100px;
    height: 100px;
  }
  .title-text-works{
    color: rgb(255, 255, 255); 
    font-size: 56.84pt !important;
    font-weight: 500; 
    font-style: normal;
    text-align: center;
    z-index:1;
  }
   .title-text-ways{
     color: #7f7fb3;
     font-size: 56.84pt !important;
     font-weight: 500; 
     font-style: normal;
     text-align: center;
     z-index:1;
   }
  .custom-outline__titlewhite{
    color: transparent !important;
    -webkit-text-stroke-width: 2px !important;
    -webkit-text-stroke-color: white !important;
  }
  .custom-outline__titlelila{
    color: transparent !important;
    -webkit-text-stroke-width: 2px !important;
    -webkit-text-stroke-color: #7f7fb3 !important;
  }
  .redeem-box{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .redeem-box-left{
    background-color: #7f7fb3;
    padding: 35px 30px;
    border-radius: 0px 93px 93px 0px;
    width:40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .redeem-box-right{
    background-color: #7f7fb3;
    padding: 20px 30px;
    border-radius: 93px 0px 0px 93px;
    width:56%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
  }
  .text-redeem{
    color:white;
    margin: 3em auto;
    text-align:center;
  }
  redeem-icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: beige;
}
  .on-mob{
    font-size: 50pt !important;
  }
  .ul-custom-redeem{
    width: fit-content;
    margin-top:2em !important;
    margin-bottom:2em !important;
  }
  @media screen and (max-width: 850px) {
    .gradiant-bg{
      width: 130px;
      height:60px;
      margin-bottom:50px;
      margin-top:20px;
    }
    .background-works{
      background-color: #d56485;
      padding-top: 80px;
    }
    .title-text-works{
      font-size: 37.49pt !important; 
    }
    .title-text-ways{
      font-size: 37.49pt !important; 
    }
    .arrow-img{
      width:70px;
      height:70px;
    }
    .on-mob{
      font-size: 20pt !important;
    }
  }
</style>
<div class="yotpo-widget-instance" data-yotpo-instance-id="199406"></div>
 <div class="background-works">
  <div class="gradiant-bg">
    <div class="scroll_icon_wrap">
      <button data-scroll-down class="scroll_link bloop" aria-label="{{ 'general.accessibility.scroll' | t }}" onclick="location.href='#scroll-how'">
        <span class="scroll_icon">{% render 'icon-arrow-down' %}</span>
      </button>
    </div>
<!--       <img class="arrow-img" src="https://cdn.shopify.com/s/files/1/0573/0061/5202/files/arrow.gif?v=1661422833"/> -->
  </div> 
  <div class="title-text-works" id="scroll-how">
    <span class="custom-outline__titlewhite">how it</span> works
   </div>
</div>
<div class="yotpo-widget-instance" data-yotpo-instance-id="199409"></div>    
<div class="background-ways">
  <div class="title-text-ways">
    <span class="custom-outline__titlelila">ways to</span> earn points
  </div>
</div>     
<div class="yotpo-widget-instance" data-yotpo-instance-id="199412"></div>      
<div class="background-points">
  <div class="title-text-works"> 
    <span class="custom-outline__titlewhite" style="margin-bottom: 30px;">how to</span> redeem
  </div>
  <div class="standard__rte HTU-text redeem-htu">
      <ul class="ul-custom-redeem">
        <li class="standard__rte" style="margin-bottom:10px !important;color:white">log into your account</li>
        <li class="standard__rte" style="margin-bottom:10px !important;color:white">choose reward at checkout</li>
        </ul>
  </div>
  <div class="redeem-box">
    <div class="redeem-box-left"><div class="title-text-works on-mob" style="color:white;text-align:right;">reminder</div></div>
    <div class="redeem-box-right">
      <div class="redeem-icon"><img src=""/></div>
      <div class="title-text-works on-mob">
        <span class="custom-outline__titlewhite" style="text-align:left;">1 point =</span> 1$
      </div>
    </div>
  </div>
  <div class="text-redeem">points expire after 12 months of inactivity</div>
</div>     
<!-- <div class="yotpo-widget-instance" data-yotpo-instance-id="199411"></div> -->
<div class="background-ways">
  <div class="title-text-ways">
    <span class="custom-outline__titlelila">verb rewards</span> tiers
  </div>
</div>     
<div class="yotpo-widget-instance" data-yotpo-instance-id="199413"></div>
<div class="yotpo-widget-instance" data-yotpo-instance-id="199407"></div>